@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
:root {
  --white: #dfdddd;
  --black: #333333;
}
body {
  background-color: var(--white);
}
#project {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
}
#image_container {
  position: relative;
  width: 40vw;
  height: 100vh;
}

#image_container .background_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--white);
}
#image_container .logo {
  position: absolute;
  top: 32%;
  left: 40%;
  width: 20%;
}
#title {
  position: absolute;
  text-align: center;
  width: 40vw;
  bottom: 50%;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--black);
  z-index: 3;
  font-size: 2.5rem;
}
#title::selection {
  background-color: var(--white);
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vh;
  width: 60vw;
  padding: 25vh 10vw;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
form input {
  border: none;
  border-bottom: 1px solid var(--black);
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
  background-color: var(--white);
}

form input:focus {
  outline: none;
  box-shadow: 0 5px 0 0 var(--black);
}
form input:user-valid {
  outline: none;
  border-bottom: 1px solid slategrey;

  box-shadow: 0 5px 0 0 slategrey;
}
form input:user-invalid {
  outline: none;
  border-bottom: 1px solid coral;

  box-shadow: 0 5px 0 0 coral;
}
form h3 {
  grid-column: span 2;
  letter-spacing: 0.1rem;

  font-size: 2.2rem;
  color: var(--black);
}
form h3::selection,
form label::selection {
  color: var(--white);
  background-color: var(--black);
}
form label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}
form button {
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid var(--black);
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: var(--white);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
form button:hover {
  outline-offset: -2px;
  background-color: #333333;
  color: var(--white);
}
